*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}



.container{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}


header{
background-color: #ffffff8d;
width: 100%;
position: fixed;
top:0;
z-index: 99999999;
backdrop-filter: blur(10px);
border-bottom: 1px solid silver;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav .logo{
    font-size: 34px;
    font-weight: bold;
    text-decoration: none;
    color:#000000;
    
}

.list{
display: flex;
justify-content: space-between;
column-gap: 50px;
list-style-type: none;
}

.item {
    text-transform: uppercase;
}

.item a{
    color:#000000;
    text-decoration: none;
}

.item a:hover{
    text-decoration: underline;
}



#intro{
    background-color: rgb(255, 255, 255);
    /* background-image: url("./images/registon.jpg"); */
    background-repeat: no-repeat;
    background-size:100%;
    background-position: top;
    height: 130vh;
    background-attachment:fixed;
}


#about{
    background-color: greenyellow;
    background-repeat: no-repeat;
    background-size:100%;
    background-position: top;
    height: 100vh;
    
}

#service{
    background-color: greenyellow;
    background-repeat: no-repeat;
    background-image: url("https://picsum.photos/id/234/1200/970");
    background-size:100%;
    background-position: top;
    height: 100vh;
    background-attachment:fixed;
}


#team{
    background-color: greenyellow;
    background-repeat: no-repeat;
    background-image: url("https://picsum.photos/id/134/1200/970");
    background-size:100%;
    background-position: top;
    height: 100vh;
    background-attachment:fixed;
}

/* viewport  height*/


.wrapper{
    padding: 100px;
}

.photo{
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position:0px;
    border: 2px solid red;
}


.flex-container{
    background-color:aquamarine;
    padding: 50px; 
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 30px 10px;
    flex-wrap: wrap;
}

.flex-item{
    width: 130px;
    height: 130px;
    border: 2px solid blue;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .flex-item:first-child{
    background-color: red;
}

.flex-item:last-child{
    background-color: green;
} */




.flex-item:nth-child(1){
    background-color: red;
    order: 0;
    flex: 1 2 300px;
}


.flex-item:nth-child(2){
    background-color: rgb(151, 0, 221);
    order: 0;
    flex-grow: 4;
    flex-shrink: 1;
    flex-basis: 400px;
}

.flex-item:nth-child(3){
    background-color: rgb(0, 134, 85);
    order: 0;
    flex-grow: 1;
    flex-shrink: 1;
}