*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
 max-width: 1250px;
 margin: 0 auto;
 padding: 0 20px;
}


.card{
    border: 1px solid #ccc;
    width: 300px;
    font-family:sans-serif;
}

.card .card__body{
    padding: 12px;
}

.card .card__body .card__body--title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card .card__body .card__body--description{
    font-size: 12px;
    margin-bottom: 20px;
}

.card .card__body .card__body--btn-success{
    background-color: limegreen;
    padding: 6px 12px;
}

.card .card__body .card__body--btn-danger{
    background-color: rgb(174, 13, 83);
    padding: 6px 12px;
}


