* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

/* -------------------- main container -------------- */

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ------------- Header start ------------- */

header {
  background-color: #232536;
  border-bottom: 1px solid silver;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: auto;
}

nav .list {
  list-style-type: none;
  display:flex;
  justify-content: space-between;
  width: 712px;
}


nav .list .list-item a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.2s ease-out;
}

nav .list .list-item a:hover {
  color: #fff;
}

.active-link {
  color: #fff !important;
}

/* ------------- Header end ---------------- */

/* ------------- Intro section start ------------ */

#intro {
  width: 100%;
  height: auto;
  background-color: #232536;
}

#intro .wrapper {
  width: 100%;
  padding-top: 90px;
  height: 810px;
  display: flex;
  justify-content: space-between;
}

#intro .wrapper .wrapper_left {
  padding-top: 100px;
}

#intro .wrapper .wrapper_left h1 {
  font-size: 56px;
  color: #fff;
  line-height: 70px;
  margin-bottom: 24px;
}

#intro .wrapper .wrapper_left p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  margin-bottom: 32px;
}

#intro .wrapper .wrapper_left button {
  width: 219px;
  height: 64px;
  background-color: #444cfc;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#intro .wrapper .wrapper_left button:hover {
  background-color: #232536;
  color: #ffff;
  border: 2px solid #fff;
}
#intro .wrapper .wrapper_left button:active {
  background-color: #9fa3ff;
}

#intro .wrapper .wrapper_right {
  
  width: 45%;
}

#intro .wrapper .wrapper_right img {
  width: 563px;
}

/* ------------ Intro section end --------------*/
